<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet" type="text/css">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="/js/playerValidation.js"></script>
    <title>New Player</title>
</head>
<body class="bg-gray-800 text-white font-body">
    <header class="navbar bg-int-blue py-2 px-4 flex justify-between items-center">
        <a href="/"><img src="/img/logo_white.png" alt="int-house logo" class="max-h-8"></a>
        <img src="/img/menu.svg" alt="menu icon" class="h-6 cursor-pointer">
    </header>
    
</body>
</html>