<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="/js/menu.js"></script>
    <title>Int-house</title>
    <!-- harcoded match code -- 3820524447 -->
</head>
<body class="bg-gray-800 text-white font-body">

    

    <main class="flex flex-col items-center">
        <div class="hero flex flex-col items-center justify-center  w-full  px-4">
            <header class="navbar absolute top-0 w-screen py-2 px-4 flex justify-between items-center md:grid md:grid-rows-1 md:grid-cols-3 md:h-16 md:px-8">
                <a href="/"><img src="/img/logo_white.png" alt="int-house logo" class="max-h-8 md:max-h-10"></a>
                <img src="/img/menu.svg" alt="menu icon" class="menu-icon w-6 cursor-pointer md:invisible">
                <nav class="absolute top-12 hidden right-0 bg-white rounded-l-xl h-64 w-4/6 p-6 md:flex md:static md:bg-transparent md:w-full md:top-0 md:right-0 md:visible">
                    <div class="flex flex-col h-full justify-around md:flex md:flex-row md:items-center md:justify-around md:w-full">
                        <!-- <a class="text-xl font-body font-bold text-int-blue transition-all ease-in-out duration-300 p-2 rounded-md hover:bg-int-blue hover:text-white md:text-white md:text-lg md:" href="/LoL">League of Legends</a> -->
                        <a class="text-xl font-body font-bold text-int-blue transition-all ease-in-out duration-300 p-2 rounded-md hover:bg-int-blue hover:text-white md:text-white md:text-lg md:py-2 md:px-4 md:hover:text-int-blue md:hover:bg-white md:duration-200" href="/">Home</a>
                        <a class="text-xl font-body font-bold text-int-blue transition-all ease-in-out duration-300 p-2 rounded-md hover:bg-int-blue hover:text-white md:text-white md:text-lg md:py-2 md:px-4 md:hover:text-int-blue md:hover:bg-white md:duration-200" href="#">About</a>
                    </div>
                </nav>
            </header>
            <h1 class="text-5xl font-heading text-center lg:text-6xl">THROWERS WELCOME</h1>
            <h4 class="font-body font-bold mt-2 text-center lg:text-xl">Compete against your friends</h4>
        </div>

        <div class="games-container flex justify-center items-center h-auto w-full my-16">
            <!-- league card -->
            <a href="/LoL" class="h-64 w-4/5 bg-league-bg bg-cover rounded-2xl transition-colors duration-300 ease-in-out lg:w-3/5">
                <div class="flex justify-center items-center h-full w-full bg-black bg-opacity-80 hover:bg-opacity-40 active:bg-opacity-50 rounded-2xl transition-fill duration-200 ease-in-out">
                    <img src="/img/league_icon.png" alt="league of legends icon" class="h-32">
                </div>
            </a>
        </div>
        
    </main>
    <footer class="bg-blue  mt-12  bg-int-blue">

    </footer>
</body>
</html>