<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <title>Int-house: League of Legends</title>
    <!-- harcoded match code -- 3820524447 -->
</head>
<body class="bg-gray-800 text-white font-body">
    <header class="navbar bg-int-blue py-2 px-4 flex justify-between items-center">
        <a href="/"><img src="/img/logo_white.png" alt="int-house logo" class="max-h-7"></a>
        <img src="/img/menu.svg" alt="menu icon" class="h-8 cursor-pointer">
    </header>

    <main class="flex flex-col justify-center items-center">
        <div class="flex flex-col items-center justify-center h-80 w-full bg-league-banner bg-cover bg-center">
            <div class="flex-col w-full h-full bg-black bg-opacity-75 flex justify-center items-center">
                <img class="h-36" src="/img/lol_logo_text.png" alt="league logo">
                <div class="flex justify-around mt-6 w-5/6 mx-auto">
                    <a class="flex items-center justify-around bg-int-blue w-36 rounded-lg p-2 hover:bg-int-blue-light transition-colors duration-300 ease-in-out" href="/LoL/new-game">
                        <img class="h-8" src="/img/controller.svg" alt="player icon">
                        <p class="font-bold">New Game</p>
                    </a>
                    <a class="flex items-center justify-around bg-int-blue w-36 rounded-lg p-2 hover:bg-int-blue-light transition-colors duration-300 ease-in-out" href="/LoL/new-player">
                        <img class="h-7" src="/img/player.svg" alt="player icon">
                        <p class="font-bold">Add Player</p>
                    </a>
                </div>
            </div>
            
        </div>
       
        <h2 class="font-heading text-3xl mt-12 mb-6">Standings</h2>
        <div class="container">
            <div class="game-bracket">
    
            </div>
            <div class="player-pool">
                
            </div>
        </div>
    </main>
   
</body>
</html>