<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet" type="text/css">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="/js/playerValidation.js"></script>
    <title>New Player</title>
</head>
<body class="bg-gray-800 text-white font-body">
    <header class="navbar bg-int-blue py-2 px-4 flex justify-between items-center">
        <a href="/"><img src="/img/logo_white.png" alt="int-house logo" class="max-h-8"></a>
        <img src="/img/menu.svg" alt="menu icon" class="h-6 cursor-pointer">
    </header>
    <main class="flex flex-col justify-center items-center">
        <div class="w-4/5 md:w-4/6 lg:w-3/6">
            <h1 class="font-heading text-3xl mt-12 mb-6 md:text-4xl">Create a new player</h1>
            <form action="/LoL/player" method="post">
                <div class="form-field">
                    <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-full outline-none focus:bg-gray-600 md:py-4 md:text-lg" type="text" name="name" id="name" placeholder="Name">
                    <p class="text-sm italic text-red-500" id="nameError"></p>
                </div>
                <div class="form-field">
                    <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-full mt-4 outline-none focus:bg-gray-600 md:py-4 md:text-lg" type="text" name="alias" id="alias" placeholder="Summoner Name">
                    <p class="text-sm italic text-red-500" id="aliasError"></p>
                </div>
                <div class="form-field mt-10 mb-2">
                    <label class="font-body text-md font-bold md:text-lg" for="top">Position Ratings (1-100): </label>
                </div>
                <div class="ratings flex flex-row flex-wrap justify-between">
                    <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-16 flex-grow mr-4 mb-4 text-sm outline-none focus:bg-gray-600 md:py-4 md:text-lg" type="text" name="top" id="top" class="form-role" placeholder="Top">
                    <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-16 flex-grow mr-4 mb-4 text-sm outline-none focus:bg-gray-600 md:py-4 md:text-lg" type="text" name="jung" id="jung" class="form-role" placeholder="Jung">
                    <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-16 flex-grow mr-4 mb-4 text-sm outline-none focus:bg-gray-600 md:py-4 md:text-lg" type="text" name="mid" id="mid" class="form-role" placeholder="Mid">
                    <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-16 flex-grow mr-4 mb-4 text-sm outline-none focus:bg-gray-600 md:py-4 md:text-lg" type="text" name="adc" id="adc" class="form-role" placeholder="ADC">
                    <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-16 flex-grow mr-4 mb-4 text-sm outline-none focus:bg-gray-600 md:py-4 md:text-lg" type="text" name="sup" id="sup" class="form-role" placeholder="Sup">
                    <p class="text-sm italic text-red-500 -mt-4" id="ratingError"></p>
                </div>
                <div class="form-field mt-6">
                    <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-24 outline-none focus:bg-gray-600 md:py-4 md:text-lg" type="password" name="password" id="password" placeholder="PIN">
                    <p class="text-sm italic text-red-500" id="pinError"></p>
                </div>
                <div class="w-full">
                    <input class="cursor-pointer flex items-center justify-around bg-int-blue w-36 rounded-lg p-2 hover:bg-int-blue-light transition-colors duration-100 ease-in-out font-bold mx-auto mt-8" type="submit" value="Create Player">
                </div>
            </form>
        </div>
    </main>

    <div class="player-pool">
        <!-- displays players from database -->
    </div>
</body>
</html>