<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Game</title>
</head>
<body>
    <nav class="navbar">

    </nav>
    <div class="container">
        <div class="game-bracket">
            <p>[Game bracket goes here]</p>
        </div>
        <div class="player-pool">
            <table class="player-pool-table">
                <p><%= players %></p>
            </table>
        </div>
    </div>
    <style src=""></style>
</body>
</html>