<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet" type="text/css">
    <title>New Player</title>
</head>
<body>
    <h1>Create a new player</h1>
    <form action="/player-created" method="post">
        <div class="form-field">
            <input type="text" name="name" id="name" placeholder="Name" required>
        </div>
        <div class="form-field">
            <input type="text" name="alias" id="alias" placeholder="Summoner Name" required >
        </div>
        <div class="form-field">
            <label for="top">Ratings: </label>
            <br>
            <input type="text" name="top" id="top" class="form-role" placeholder="Top" required>
        </div>
        <div class="form-field">
            <input type="text" name="jung" id="jung" class="form-role" placeholder="Jungle" required>
        </div>
        <div class="form-field">
            <input type="text" name="mid" id="mid" class="form-role" placeholder="Middle" equired>
        </div>
        <div class="form-field">
            <input type="text" name="adc" id="adc" class="form-role" placeholder="ADC" equired>
        </div>
        <div class="form-field">
            <input type="text" name="sup" id="sup" class="form-role" placeholder="Support" equired>
        </div>

        <br>

        <div class="form-field">
            <input type="text" name="password" id="password" placeholder="Authorization Code" required>
        </div>
        <input type="submit" value="Create Player">
    </form>
    <div class="player-pool">
        <!-- displays players from database -->
    </div>
</body>
</html>