@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.red-modal, .blue-modal {
    height: calc(100% - 48px);
}

.hero {
    height: 384px;
}

@media only screen and (min-width: 768px) {
    nav {
        display: flex !important;
    }

    .hero {
        height: 540px;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
