@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.red-modal, .blue-modal {
    height: calc(100% - 48px);
}

.full-screen {
    min-height: calc(100vh - 96px);
}

.hero {
    height: 384px;
    background: radial-gradient(125% 125% at 15% 0%, #2583FF 0%, #A148CB 100%);
}

@media only screen and (min-width: 768px) {
    nav {
        display: flex !important;
    }

    .hero {
        height: 540px;
    }
}

@media only screen and (min-width: 1024px) {
    .hero {
        height: 664px;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
